/* All tag */
* {
	font-family: Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: none;
}

a{
	text-decoration: none;	
}

ul{
	list-style: none;
}

/*header*/
header{
	position: relative;
	height: 80px;
	background: #000;
}
header:after{
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	height: 7px;
	content: '';
	background: #d6d6d6;

}

header > .container{
	position: relative;
	z-index: 1;
	width: 1200px;
	margin: 0 auto;

}

header > .container > a{
	display: block;
	margin: 5px 25px;
	float: left;
}

header > nav{
	float: right;
}


/*nav*/
nav > a{
	font-size: 24px;
	line-height: 70px;
	height: 70px;
	width: 110px;
	display: block;
	text-align: center;
	float: left;
	color: #fff;


}

nav > a:nth-child(1) { background: #433b90; }
nav > a:nth-child(2) { background: #017fcb; }
nav > a:nth-child(3) { background: #78b917; }
nav > a:nth-child(4) { background: #feb800; }
nav > a:nth-child(5) { background: #f27c01; }
nav > a:nth-child(6) { background: #d40112; }
nav a:hover,
nav a:active {padding-bottom: 7px}





